<div class="grid-container">
    <bookstore-header class="header"></bookstore-header>
    <main class="main">
            <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="search">Search</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="addBook">add book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="book/2">book</a>
                      </li>
                  </ul>
        <bookstore-breadcrumb></bookstore-breadcrumb>
        <router-outlet></router-outlet>
    </main>
    <bookstore-footer class="footer"></bookstore-footer>
</div>