<div class="fields" [formGroup]="parentForm">
    <input [type]="inputType" [formControlName]="controlName" required />
    <label>{{label}}</label>
    <div *ngIf="dirty && errors" class="invalid">
        <div *ngIf="errors && errors.required" class="error-message">{{label}} is required</div>
        <div *ngIf="errors && errors.minlength" class="error-message">
            The {{label}} must be min {{errors.minlength.requiredLength}} character
        </div>
        <div *ngIf="errors && errors.maxlength" class="error-message">
            The {{label}} must be maxed {{errors.maxlength.requiredLength}} character
        </div>
        <div *ngIf="errors && errors.min" class="error-message">
            The {{label}} must be min {{errors.min.min}}
        </div>
        <div *ngIf="errors && errors.max" class="error-message">
            The {{label}} must be maxed {{errors.max.max}}
        </div>
        <div *ngIf="errors && errors.custom" class="error-message">{{errors.custom.value}}</div>
    </div>
</div>