$bg-color: #424242;
$hl-color: #2196F3;
$invalid-color: red;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

:host {
    position: relative;
    .fields {
        position: relative;
        margin: 45px 0;
    }
    .invalid {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-height: 14px;
        margin-top: 10px;
        overflow: hidden;
        .error-message {
          color: #ff5252;
          caret-color: #ff5252;
        }
      }
    input {
      background: none;
      color: #040404;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: $width;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $muted-color;
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: $hl-color;
      }
      &.ng-invalid.ng-dirty {
        border-bottom: 1px solid $invalid-color;
      }
    }
    
    input[type="password"] {
      letter-spacing: 0.3em;
    }
    
    label {
      color: $muted-color;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: $trans-time ease all;
    }
}