:host {
  color: white;
  padding: 0.3rem;
  height: 16rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  .picture {
    height: 150px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0px solid #000000;
  }
  .picture > img {
    height: 100%;
  }
  .starts {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
  }
  h3 {
    color: black;
    font-size: medium;
    font-weight: 400;
    max-width: 80%;
    text-align: center;
  }
  .rating {
    unicode-bidi: bidi-override;
    color: #8c8c8c;
  }
  .rating > span {
    width: 1rem;
  }
}
