:host {
  span {
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 54px;
    justify-content: center;
    letter-spacing: normal;
    &::before {
      content: "\2606";
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.active::before {
      content: "\2605";
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.small {
      font-size: 20px;
    }
    &.medium {
      font-size: 30px;
    }
    &.large {
      font-size: 54px;
    }
  }
}
