/* You can add global styles to this file, and also import other style files */
html, body { margin: 0; padding: 0; }

h1 { color: #272726; font-family: 'Trocchi', serif; font-size: 45px; width: 100%; text-align: center; font-weight: normal; line-height: 48px; margin: 0; }

h2 { color: #272726; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; width: 100%; text-align: center; font-weight: 400; line-height: 32px; margin: 0 0 24px; }

.subheader { font-size: 26px; font-weight: 300; color: #272726; margin: 0 0 24px; }

p { color: #272726; font-family: 'Source Sans Pro', sans-serif; text-align: center; width: 100%; font-size: 18px; line-height: 32px; margin: 0 0 24px; }

// a { color: #ff9900; background: #fff4a3; text-decoration: none; }

// a:hover { color: #ffcc66 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
